:root {
    --color-green: #209F6A;
    --color-black: #333333;
    --color-grey: #878787;
}

@font-face {
    font-family: Rubik;
    font-weight: 400;
    src: url(../fonts/Rubik/Rubik-Regular.ttf);
}

@font-face {
    font-family: Rubik;
    font-weight: 500;
    src: url(../fonts/Rubik/Rubik-SemiBold.ttf);
}

@font-face {
    font-family: Cinzel;
    font-weight: 400;
    src: url(../fonts/Cinzel/Cinzel-Regular.ttf);
}

@font-face {
    font-family: Cinzel;
    font-weight: 500;
    src: url(../fonts/Cinzel/Cinzel-SemiBold.ttf);
}

@font-face {
    font-family: Cinzel;
    font-weight: 700;
    src: url(../fonts/Cinzel/Cinzel-Bold.ttf);
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(202, 238, 235, 1);

}

.btn {
    font-family: Rubik;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    background-color: var(--color-green);
    border: none;
    width: 360px;
    height: 64px;
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.15);
    transition: .4s;
}

.btn:hover {    
    background-color: #B1F3D8;
    color: var(--color-green);
    cursor: pointer;
}

.title {
    font-family: Cinzel, sans-serif;
    text-transform: uppercase;
    color: var(--color-black);
    font-weight: 700;
    font-size: 64px;
    margin: 0;
}

.btn_large {
    width: 370px;
}

.container {
    margin: 0 auto;
    width: 96%;
    max-width: 1360px;
}

.menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: .4s;
}

.menu_active {
    opacity: 1;
    visibility: visible;
}

.menu__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto 0;
}

.menu__lang {
    margin: 0 30px 0 auto !important;
}

.menu__list {
    list-style-type: none;
}

.menu__item {
    padding: 40px 0;
    border-bottom: 1px solid #D2D2D2;
}

.menu__closer {
    width: 18px;
    height: 18px;
}

.menu__link {
    font-family: Rubik;
    color: var(--color-black);
    text-decoration: none;
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__nav-list {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header__nav-link {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: Rubik;
    font-weight: 400;
    font-size: 20px;
    color: var(--color-black);
    text-decoration: none;

}

.header__helpers {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__hamburger {
    display: none;
}

.header__lang {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-family: Rubik;
    background-color: var(--color-green);
    padding: 7px;
    margin-left: 30px;
    border-radius: 7px;
    font-size: 20px;
    height: 38px;
    width: max-content;
    box-sizing: border-box;
}

.promo {
    background: url(../images/img/bg.png) no-repeat;
    background-size: 60%;
    background-position: 100% 0;
    margin-bottom: 150px;
    padding-bottom: 84px;
}

.promo__title {
    font-family: Rubik;
    font-weight: 500;
    font-size: 64px;
    text-transform: uppercase;
    margin: 30px 0 0;
    color: var(--color-black);
}

.promo__text {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Rubik;
    font-size: 20px;
    margin: 30px 0 40px;
    padding: 0;
    color: var(--color-grey);
}

.promo__title_green {
    color: var(--color-green);
}

.promo__right {
    max-width: 100%;
}

.promo__right-img {
    width: 100%;
    min-width: 300px;
}

.services__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 40px;
    column-gap: 20px;
    margin-top: 80px;
}

.card {
    max-width: 440px;
    box-sizing: border-box;
    border-radius: 37px;
    background-color: #FFFFFF;
    padding: 50px 40px;
    box-shadow: 6px 5px 17px 0px rgba(0, 0, 0, 0.1),
                24px 18px 30px 0px rgba(0, 0, 0, 0.09),
                54px 41px 41px 0px rgba(0, 0, 0, 0.05),
                97px 73px 49px 0px rgba(0, 0, 0, 0.01),
                151px 115px 53px 0px rgba(0, 0, 0, 0);
}

.card_small {
    padding: 30px;
}

.card__text {
    font-family: Rubik;
    font-weight: 400;
    font-size: 30px;
    padding: 0;
    margin: 50px 0;
}

.service__header {
    display: flex;
    justify-content: space-between;
    font-family: Rubik;
    font-weight: 500;
    font-size: 47px;
    margin: 0;
}

.payment {
    background: url(../images/img/payment-bg.png) no-repeat;
    background-position: 100% 50%;
    background-size: 50%;
    height: 975px;
    margin-top: 215px;
}

.payment__title {
    padding-top: 125px;
}

.payment__chat {
    padding: 30px;
    margin-top: 80px;
}

.payment__chat-text {
    margin-top: 0;
    margin-bottom: 50px;
}

.about {
    margin-top: 100px;
}

.about__content {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

}

.about__text {
    font-family: Rubik;
    font-weight: 400;
    font-size: 32px;
    max-width: 660px;
    margin: 0;
}

.about__card {
    text-align: center;
    width: 555px;
    max-width: none;
    padding: 35px;
}

.footer {
    background-color: #fff;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    margin-top: 125px;
}

.footer__copyright {
    font-family: Rubik;
    font-size: 20px;
    color: var(--color-black);
    font-weight: 400;
}

.footer__reviews {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: var(--color-black);

}

.footer__socials {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 400;
}

.footer__socials-links {
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 1280px) {
    .promo {
        background: url(../images/img/bg-tablet.png) no-repeat;

        background-position: 110% 0;

        padding-bottom: 50px;
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 980px) {
    .header__helper {
        display: none;
    }

    .header__nav-link {
        flex-direction: column;
    }

    .services__items {
        margin-top: 40px;
    }

    .card {
        max-width: none;
    }

    .card__btn {
        width: 100%;
    }

    .services__items {
        flex-direction: column;
    }

    .about__content {
        flex-direction: column;
    }

    .about__text {
        margin-bottom: 60px;
    }

    .about__card {
        width: 100%;
    }

    .payment {
        height: 1110px;
        background: url(../images/img/payment-bg_mobile.png) no-repeat;
        background-position: 50% 440px;
        background-size: 100%;
        margin-top: 150px;

    }

    .payment__title {
        padding-top: 0;
    }

    .payment__chat {
        margin-top: 40px;
    }
}

@media screen and (max-width: 670px) {
    .header__nav {
        display: none;
    }

    .header__hamburger {
        display: block;
        margin-left: 20px;
        width: 18px;
    }

    .menu {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 32px;
    }

    .card__text {
        font-size: 15px;
        margin: 40px 0;
    }

    .about__text {
        margin-bottom: 40px;
        font-size: 15px;
    }

    .footer__container {
        justify-content: center;
        text-align: center;
        gap: 50px;
        flex-direction: column-reverse;
    }

    .footer__socials {
        align-items: center;
    }

    .footer__reviews {
        text-align: center;
        align-items: center;
    }

    .footer__reviews img {
        display: block;
        width: 115px;
    }
}

@media screen and (max-width: 576px) {
    .promo {
        padding-top: 330px;
        background-position: 100% -200px;
    }

    .promo__title {
        font-size: 32px;
    }
}

@media screen and (max-width: 480px) {
    .promo {
        margin-bottom: 0;
    }

    .promo__btn {
        width: 100%;
    }

    .service__header {
        font-size: 24px;
    }

    .payment {
        height: 920px;
        margin-top: 100px;
        background-position: 50% 470px;
    }

    .footer__container {
        text-align: left;
        justify-content: start;
    }

    .footer__socials {
        align-items: start;
    }

    .footer__reviews {
        align-items: start;
        text-align: left;
    }
}